.input {
  outline: none;
  border: none;
  background-color: var(--theme-neutral-300);

  font-family: var(--font-geist);
  width: 100%;
  border-radius: 8px;
  height: 40px;
  padding: 8px;

  color: var(--theme-neutral-900);
  font-size: 16px;
  line-height: 24px;

  box-shadow: inset 0 0 0 1px var(--theme-neutral-400);

  &:-webkit-autofill {
    font-family: var(--font-geist);
    color: var(--theme-neutral-900);
    box-shadow: inset 0 0 0px 1px var(--theme-neutral-400), inset 0 0 0px 100px var(--theme-neutral-300);
  }

  &::placeholder {
    font-family: var(--font-geist);
    color: var(--theme-neutral-500);
  }

  &:focus-within {
    font-family: var(--font-geist);
    color: var(--theme-neutral-900);
    box-shadow: inset 0 0 0px 1px var(--theme-primary-500), inset 0 0 0px 100px var(--theme-neutral-300);
  }
}
