$asideMin: 88px;
$asideMax: 384px;

.aside {
  flex: 0 0 auto;

  width: $asideMin;

  min-height: 100vh;
  max-height: 100vh;

  transition: width 200ms ease;

  background-color: var(--theme-neutral-200);
  border-right: 1px solid var(--theme-neutral-300);

  &_open {
    width: $asideMax;
  }

  & > header {
    padding: var(--layout-pd);
    border-bottom: 1px solid var(--theme-neutral-400);
  }
}
