.blog {
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 32px;
  }
}

.list {
  // list-style: none;
  padding-left: 32px;

  & > li {
    &:hover {
      color: var(--theme-primary-300);
    }

    &:active {
      color: var(--theme-primary-700);
    }
  }
}

.loader {
  width: 100%;
  padding: 24px;
}
