.blog {
  width: 100%;

  .title {
    margin-bottom: 32px;
  }
}

.list {
  // list-style: none;
  padding-left: 32px;

  & > li {
    &:hover {
      color: var(--theme-neutral-800);
    }

    &:active {
      color: var(--theme-neutral-700);
    }
  }
}

.loader {
  width: 100%;
  padding: 24px;
}
