@use '../../theme/appearances' as appearances;
@use '../../theme/sizes' as sizes;

.button {
  height: var(--component-h);
  padding: var(--component-pd);
  border-radius: var(--component-bdrs);

  background-color: var(--component-bgc);

  font-family: var(--font-geist);
  font-size: var(--component-fz);
  line-height: var(--component-lh);
  color: var(--component-text);

  border: none;
  outline: none;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background-color: var(--component-bgc-h);
    }

    &:active {
      background-color: var(--component-bgc-a);
    }
  }

  & > svg {
    width: 24px;
    height: 24px;
    flex: 0 0 auto;
  }

  @each $appearance, $values in appearances.$variants {
    &_#{'' + $appearance} {
      @each $prop, $v in $values {
        --component-#{'' + $prop}: #{$v};
      }
    }
  }

  @each $size, $values in sizes.$sizes {
    &_#{'' + $size} {
      @each $prop, $v in $values {
        --component-#{'' + $prop}: #{$v};
      }
    }
  }
}
