.header {
  flex: 0 0 auto;

  display: flex;
  align-items: center;

  gap: 24px;

  padding: var(--layout-pd);

  border-bottom: 1px solid var(--theme-neutral-400);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 8px;
}
