@use '../../theme/colors' as theme;

@mixin layoutSizes {
  --layout-pd: 24px;
}

.body {
  display: flex;
  align-items: flex-start;
  max-width: 100vw;

  // &_light {
  //   @include theme.light;
  // }

  // &_dark {
  //   @include theme.dark;
  // }

  @include layoutSizes;
  @include theme.light;

  @media (prefers-color-scheme: dark) {
    @include theme.dark;
  }
}

$asideMin: 88px;
$asideMax: 384px;

.aside {
  flex: 0 0 auto;
  padding: var(--layout-pd);

  width: $asideMin;

  min-height: 100vh;
  max-height: 100vh;

  transition: width 200ms ease;

  background-color: var(--theme-neutral-200);

  &_open {
    width: $asideMax;
  }
}

.view {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  flex: 1 1 auto;

  main {
    padding: var(--layout-pd);

    max-height: 100%;
    flex: 1 1 auto;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;

      &-thumb {
        cursor: pointer;

        border-radius: 2px;
        background-color: var(--eds-bgc-accent-56);

        &:hover {
          background-color: var(--eds-bgc-accent);
        }
      }

      &-track {
        border-radius: 2px;
        background-color: var(--eds-bdc-intence);
        margin: 0 8px;
      }
    }
  }
}
