@use '../../theme/colors' as colors;
@use '../../theme/utils' as utils;

@mixin layoutSizes {
  --layout-pd: 24px;
}

@mixin light {
  @each $cssv, $val in utils.getTheme(colors.$default) {
    #{'' + $cssv}: #{$val};
  }
}

@mixin dark {
  @each $cssv, $val in utils.getTheme(colors.$default, 'true') {
    #{'' + $cssv}: #{$val};
  }
}

.body {
  --theme-white: hsl(0, 0%, 100%);

  @include layoutSizes;

  display: flex;
  align-items: flex-start;
  max-width: 100vw;

  &_light {
    @include light;
  }

  &_dark {
    @include dark;
  }

  &_automode {
    @include light;

    @media (prefers-color-scheme: dark) {
      @include dark;
    }
  }
}

.view {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  flex: 1 1 auto;

  overflow: hidden;

  main {
    padding: var(--layout-pd);

    max-height: calc(100% - 89px);
    flex: 1 1 auto;

    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;

      &-thumb {
        cursor: pointer;

        border-radius: 2px;
        background-color: var(--theme-neutral-400);

        &:hover {
          background-color: var(--theme-primary-500);
        }
      }

      &-track {
        border-radius: 2px;
        background-color: var(--theme-neutral-200);
        margin: 0 8px;
      }
    }
  }
}
